################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Debug
/__vm
/Release
/~AutoRecover.RollerShutter.vcxproj
/RollerShutter.vcxproj.user
/RollerShutter.vcxproj.filters
/RollerShutter.vcxproj
